<html>
    {% comment %} load static directory for further directories {% endcomment %}
    {% load static %}
    <head>
        {% comment %} basic info of the html file {% endcomment %}
        <meta charset="utf-8">
        {% comment %} setting for mobile phone view {% endcomment %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% comment %} website name {% endcomment %}
        <title>Bowei's Insta</title>
        {% comment %} contact all the style (css file) together {% endcomment %}
        {% comment %} bootstrap is a pre defined css template {% endcomment %}
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/font-awesome-4.6.3/css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
    <body>
        {% comment %} use header.html as a template in the base html {% endcomment %}
        {% include 'header.html' %}
        
        <div class="content-wrapper">
            <div class="container"> 
                {% comment %} block content is the part waiting for insert {% endcomment %}
                {% block content %}
                {% endblock content%}
            </div>
        </div>

        {% comment %} add other stuff like css into the html with js {% endcomment %}
        {% comment %} usuallly these files are loaded in the base html file so that every html with extends will have them on board {% endcomment %}
        <script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ajax-csrf-auth.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/index.js' %}"></script>

        {% comment %} some html has its own content. this is the block for them {% endcomment %}
        {% block extrascript %}
        {% endblock %}

    </body>
</html>